body {
  display: flex;
  flex: 1;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bodyContainer {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 533px;
  border: 2px solid;
  border-color: black;
}

.screen {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100px;
  border: 1px solid;
  border-color: black;
  margin: 20px;
  
  font-family: 'Courier New', Courier, monospace;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
}

.secondaryButtons {
  display: flex;
  justify-content: flex-end;
  height: 50px;
  margin: auto 20px;
  border: 1px dotted;
  border-color: black;
  gap: 6px;
}

.secondaryButtons button {
  height: 50px;
  width: 50px;
  border-radius: 8px;
  background-color: lightpink;
}

.primaryButtons {
  display: flex;
  flex: 1;
  border: 1px dotted;
  border-color: black;
  margin: 10px 20px;
}


.digitContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 250px;
  border: 1px dotted;
  border-color: black;
  gap: 6px;
}

.digitContainer button {
  height: 50px;
  width: 70px;
  font-size: 24px;
  border-radius: 10px;
  background-color: lightsteelblue;
}

.operatorContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100px;
  border: 1px dotted;
  border-color: black;
}

.operatorContainer button {
  height: 50px;
  width: 70px;
  font-size: 24px;
  border-radius: 10px;
  background-color: lightgreen;
}
