body {
  display: flex;
  flex: 1;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bodyContainer {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 800px;
  border: 2px solid;
  border-color: black;
}
